.content {
    /* display: inline-flex; */
    background-color: rgb(233, 233, 233);
    min-height: 81vh;
    width: calc(85% - 5px);
  }
.notification {
    min-height: 30vh;
    display: block;
    
  }
.head-content {
    font-size: 30px;
    font-weight: 500;
    height: 6vh;
    padding-left: 25px;
    padding-top: 20px;
}
.text-noti {
    width: 83vw;
    height: 30vh;
    border-top: 4px solid rgba(4, 99, 155, 0.808);
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    margin: 0 1vw;
    font-size: 18px;
    background-color: white;
    overflow-y: auto;
    padding: 15px;

}
.text-noti span {
  white-space: pre-line;
}
.user-info {
    min-height: 10vh;
    display: block;
    width: 83vw;
    margin: 0 1vw;
}


.content-user-info {
  background-color: white;
  height: 32vh;
  /* width: 83vw;  */
  border-radius: 3px;
  border-top: 3.5px solid rgba(4, 99, 155, 0.808);
  border-bottom: 2px solid #a7a7a7;
  overflow-y: auto;
}

.content-user-info-1 {
  padding: 15px;
  width: 83vw;
}
.content-user-info-1 span {
  white-space: pre-line;
  
}
.content-user-info-2 ul li {
  padding: 11px 25px;
  border-bottom: 1px solid #b9b9b9;
  width: 82vw;
}
.content-user-info-2 ul {
      padding-top: 3px;  
  }

.pro-user-info {
  display: inline-block;
  width: 280px;
  font-weight: 500;
}
.value-user-info {
  color: rgba(22, 166, 214, 0.856);
  font-weight: 500;
}