



/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
.App {
  display: flexbox;
  width: 100%;
  line-height: 0.8;
}
.main {
  display: flex;
  vertical-align:text-top;
}

.App-link {
  color: #05a9d6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

